
.detail_card
{
    background-color: #21212b;
    width: 100%;
    height: 100%;
    border: solid white 1px;
    border-radius: 25px;
    box-shadow: -10px 2px 1px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    min-width: none;
    max-width: none;
}


.side-content-details
{ 
    background-color: #43636d;
    width: 100%;
    height: 100%;
    border: solid white 1px;
    border-radius: 25px;
    box-shadow: -10px 2px 1px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.side-image
{
   width: 100%;
   height: auto;
   border-radius: 20px;
   max-height: 100%;
   min-height: 300px;
   max-width: 250px;
   min-width: 100px;
   

}

.basic-text
{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.cards 
{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    overflow-y: auto;
    width: 100%;
    column-gap: 10px;
}

.card{
    
    width: calc(33.3% - 20px );
    background-color: transparent !important;
    border-color: transparent !important;
}
