.input_text_login
{
    border-radius: 30px;
    max-width: 360px;
    width: 100%;
    min-height: 25px;    
    max-height: 25px;
    background-color:#375560;
    border: solid white 1px;
    color: white;
    box-shadow: -10px 2px 1px rgba(0, 0, 0, 0.3);   
}

.label-text-login
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 600;
    margin-right: 5px;
}

.btn_submit
{
    background-color: #2c2b3d;
    color: #8cceda;
    border: solid white 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:600;
    border-radius: 13px;
    min-width: 85px;
    min-height: 38px;    
    max-height: 38px;
}

.btn_submit:hover
{
    background-color: #474574;
    color: #41e3ff;
}

.div_container
{
   width: 100%;
}

.login_card
{
    background-color: #21212b;
    max-width: 200px;
    min-height: 200px;
    border: solid white 1px;
    border-radius: 25px;
    box-shadow: -10px 2px 1px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.side-card-1
{
    background-color: #141416;
    border-bottom: solid white 1px;
    border-right: solid white 1px;
    border-radius: 25px;
    max-width: 450px;
    min-width: 450px;
    min-height: 430px;
}

.side-card-2
{
    background-color: #64a6b4;
    border-bottom: solid white 1px;
    border-right: solid white 1px;
    border-radius: 25px;
    max-width: 450px;
    min-width: 450px;
    min-height: 520px;
}

.side-card-3
{
    background-color: #577b8b;
    border-bottom: solid white 1px;
    border-right: solid white 1px;
    border-radius: 25px;
    max-width: 450px;
    min-width: 450px;
    min-height: 610px;
}

.side-card-4
{
    background-color: #505b6f;
    border: solid white 1px;
    border-radius: 25px;
    max-width: 450px;
    min-width: 450px;
    min-height: 680px;
    box-shadow: -10px 2px 1px rgba(0, 0, 0, 0.3);
}

.side-card-big-text
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    color: white;
    font-size: 30px;
    text-align: center;
}

.img-side
{
    width: 100%;
    height: auto;
}

.img-side-star
{
    width: 30%;
    height: auto;
    margin-left: 7px;
}

.text-side
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.ver-mas-text
{
    color: #8ac6c7;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.ver-mas-text:hover
{
    color: #00fbff;
}

#text-mb
{
    display: none !important;
}

@media (max-width: 767px) {
    #side {
        display: none;
    }
    #text-pc
    {
        display: none !important;
    }
    #text-mb
    {
        display: initial !important;
    }
}

body
{
    height: 100vh;
    margin: 0;
}


.Combo-Box{
    border-radius: 30px;
    max-width: 360px;
    width: 100%;
    min-height: 25px;    
    max-height: 25px;
    background-color:#375560;
    border: solid white 1px;
    color: white;
    box-shadow: -10px 2px 1px rgba(0, 0, 0, 0.3);   
}