.Nav-Bar{
    background-color: #21212b;
}

.text-labels{
    color: white !important;
}

body{
    background-color: #4d4e63 !important;
    padding: '0px'
}

.input-search-nav
{
    background-color: #4d4e63;
    border: solid white 1px;
    border-radius: 35px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    width: 50%;
}

.input-search-nav::placeholder
{
    color:rgb(228, 228, 228);
    font-family: Arial, Helvetica, sans-serif;
}

.button-search-nav
{
    background-color: #21212b;
    border: 0px;
    height: 45px;
    width: 45px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    transition: background-color 0.25s ease-out;
}

.button-search-nav:hover
{
    background-color: #0a0a0e;
}

.btn-search-1
{
    border: solid white 1px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2c2b3d;
    border-radius: 40px;
    height: 45px;
    width: 110px;
    font-size: 12px;
    font-weight: bold;
    transition: background-color 0.25s ease-out;
    margin-right: 10px;
    float: right;
}

.btn-search-1:hover
{
    background-color: #0a0a0e;
    border: solid rgb(215, 215, 215) 1px;
    color:rgb(201, 201, 201);
}